.member {
  height: 50vh;
}

.owl-next {
  width: 45px !important;
  background-color: rgb(226, 226, 226) !important;
  font-size: 30px !important;
  border-radius: 50% !important;
  position: absolute;
  cursor: pointer !important;
  top: 20vh;
  right: 1vh;
}

.owl-next > span {
  text-align: center !important;
}

.owl-prev {
  display: none !important;
}
